ul.element-list {
    list-style-type: none;
    padding: 0px;
}

li.element {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

li.element:hover {
    background-color: #f8f8f8;
}

div.element-header h2 {
    font-size: 200%;
    margin: 5px 0px 15px 0px;
}

div.element-header h3 {
    font-size: 115%;
    margin: 0px 0px 10px 0px;
}

div.element-header p {
    font-size: 90%;
    font-style: italic;
    margin: 20px 0px 0px 0px;
}

.list-group-item-linkable:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}