{% extends "base.html" %}

{% block title %}INSPT - TP Final | Items{% endblock %}

{% block page_content %}

<!-- Modal confirmacion para borrar item -->
{% include "_item_modal_borrado.html" %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
    
        <div class="page-header">
            <h1 class="text-center">Items</h1>
        </div>

        {% include "_item_lista.html" %}
    
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
    itemEditarBorrar();
});
</script>
{% endblock %}