{% extends "_base.html" %}

{% set title = "Categorias" %}

{% block page_content %}
<div class="row">
  <div class="col-md-12">
    
    <div class="page-header">
      <h1><b>Categorias</b></h1>
    </div>
    
    <table class="table table-hover">
      <caption>Categoria</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      {% for categoria in categorias %}
        <tr>
          <td>{{ categoria.id }}</td>
          <td><a href="{{ url_for('categorias.get', id=categoria.id) }}">{{ categoria.nombre }}</a></td>
          <td>{{ categoria.descripcion }}</td>
          <td>
          <a href="{{ url_for('categorias.edit', id=categoria.id) }}" class="btn btn-info btn-xs">Editar</a>
          <a href="{{ url_for('categorias.delete', id=categoria.id) }}" class="btn btn-danger btn-xs">Borrar</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
